#detailsTable {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px #444;
    border-radius: .25rem;
    margin-bottom: 50px;
}

#detailsTable thead tr {
    background-color: #198754;
    color: #ffffff;
    text-align: left;
}

#detailsTable th, td {
    padding: 12px 15px;
    text-align: center; /*links, rechts oder mitte?*/
}



#detailsTable tbody tr {
    border-bottom: 1px solid #505050;
}

#detailsTable tbody tr {
    background-color: #444;
}

#detailsTable tbody tr:last-of-type {
    border-bottom: 2px solid #444;
}

#row {
    width: 100%;
    margin: 0 auto;
}

#mapid {
    width: 550px;
    height: 400px;
    margin: 25px 50px 50px;
    float: left;
    z-index: 0;

}

#table {
    float: left;
}

.detail-header {
    margin: 100px;
    width: auto;
}

.detail-body {
    width: 100%;
    display: flex;
    justify-content: center;
}
.box {
    display: flex;
    justify-content: space-around;
    border-radius: .25rem;
}

.detail-info {
    margin-left: 50px;
}

.detail-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-left: 80px;
}

.detail-links li {
    list-style: none;
    margin-right: 50px;
}

.detail-links a {
    text-decoration: none;
}

.list-style-none li{
    list-style: none;
}
