#detailsTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#detailsTable thead tr {
    background-color: #04AA6D;
    color: #ffffff;
    text-align: left;
}

#detailsTable th, td {
    padding: 12px 15px;
    text-align: center; /*links, rechts oder mitte?*/
}



#detailsTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

#detailsTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#detailsTable tbody tr:last-of-type {
    border-bottom: 2px solid #04AA6D;
}

#row {
    width: 100%;
    margin: 0 auto;
}

#mapid {
    width: 550px;
    height: 400px;
    margin: 25px 50px 50px;
    float: left;
}

#table {
    float: left;
}