@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

*{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-image: url("../assets/images/Earth-background.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

main {
 
}

main article{
    width: 50%;
    background-color: #444;
    color: #198754;
    font-weight: bold;
    margin: 3rem 0rem 3rem 0rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
    color: #198754;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 15px;
    background-color: #444;
}

footer img {  
    height: 2rem;
    margin: 0rem 2rem 0rem 0rem;
}

footer p{
    margin-left: 1rem;
}

.flexFlowX_SpaceBetween {
    display: flex;
    justify-content: space-between;
}

.flexFlowX_CenterXY { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flexFlowY_CenterXY {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #444;
    border-radius: .25rem;
 }

 .logo {
     color: #198754;
     text-transform: uppercase;
     letter-spacing: 5px;
     font-size: 20px;

 }
 .nav-links {
     display: flex;
     justify-content: space-around;
     width: 40%;
 }

 .nav-links li {
     list-style: none;
 }

 .nav-links a {
     color: #198754;
     text-decoration: none;
     font-size: 120%;
     font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight: 900;
 }

.burger {
     display: none;
     cursor: pointer;
 }

.burger div {
    width: 25px;
    height: 3px;
    background-color: #198754;
    margin: 5px;
    transition: all 0.3s ease;
   }

@media screen and (max-width: 1024px){
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    body {
        overflow-x: hidden;
    }

    .nav-links {
        z-index: 1;
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #444;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;

    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translate(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
}
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: .25rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
}

nav a:hover {
    background-color: #198754;
    color: #444;
}

.active {
    background-color: #444;
}
.active:hover {
    color: #444;
    background-color: #198754;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    color: #0078A8;
}

.card {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background: #444;   
    min-height: 550px;
    color: white;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.card-title {
    margin-bottom: .5rem;
}

.card-subtitle {
    margin-top: -.25rem;
    margin-bottom: 0;
}

.card img {
    margin-bottom: 1rem;
}

.card-img {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
}

.btn:hover {
    background-color: #15744a;
}

.btn-primary {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.card-boxing {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin: 100px;
    border-width: 1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-image:    url("../assets/images/Desert-image-space.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.slidershow{
    width: 700px;
    height: 400px;
    overflow: hidden;
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover{
    background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
}

.slide{
    width: 20%;
    transition: 0.6s;
}
.slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}
#r4:checked ~ .s1{
    margin-left: -60%;
}
#r5:checked ~ .s1{
    margin-left: -80%;
}