#mapid {
    width: auto;
    height: 800px;
    margin: 100px;
    border-radius: .25rem;
    z-index: 0;
    border-style: solid;
    border-width: thick;
    border-color: white;
}

.card-boxing {
    width: auto;
    display: flex;
    padding: 3rem;
    /* margin: 100px; */
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 67px;
    border-width: 1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-image: url(../assets/images/Desert-image-space.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    
    border-style: solid;
    border-width: thick;
    border-color: white;
}

.card {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background: #444;
    color: white;
    width: 18rem;
    align-items: center;
    justify-content: space-between !important;
}

.card-body {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
}

.card-link {
    padding-bottom:0.5rem;
}

.card-title {
    margin-bottom: .5rem;
}

.card-subtitle {
    margin-top: -.25rem;
    margin-bottom: 0;
}

.card-img {
    text-align: center;
    margin-bottom: 1rem;
    align-self: center !important;
}