body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#mapid {
    width: auto;
    height: 800px;
    margin: 50px;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav a:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}
.active:hover {
    background-color: #04AA6D;
}